.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 2rem;
}

.visitMyWebsite {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
}

.visitMyWebsite:hover {
    color: #AFAFAF;
    transition: 0.3s;
}


