.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    min-height: 100vh;
  
    background: linear-gradient(90deg, rgba(36,48,69,1) 0%, rgba(48,64,93,1) 100%);
  
    -webkit-box-shadow: -7px 7px 24px -13px rgba(0,0,0,0.75);
  -moz-box-shadow: -7px 7px 24px -13px rgba(0,0,0,0.75);
  box-shadow: -7px 7px 24px -13px rgba(0,0,0,0.75);
  }