.card {
    display: flex;
    flex-direction: row;
    min-width: 80%;
    margin: 10px;
    padding: 2px;

    background: linear-gradient(90deg, rgba(74, 97, 139, 1) 0%, rgba(40, 40, 40, 1) 100%);
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: auto;

}

.left {
    display: flex;
    width: 360px;
}

.right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

}

.team1 {
    display: flex;
    align-items: center;
    width: 140px;
    flex-direction: row-reverse;
    gap: 5px;
}

.team2 {
    display: flex;
    align-items: center;
    width: 140px;
    gap: 5px;
}

.tbd {
    width: 30px;
}