.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    gap: 60px;
}
.navItem {
    display: flex;
    align-items: center;
    gap: 5px;
}
.navItem:hover {
    color: #AFAFAF;
    transition: 0.3s;
}