.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px;

background: linear-gradient(90deg, rgba(74,97,139,1) 0%, rgba(40,40,40,1) 100%);

}



.rank {
    display: flex;
    align-self: flex-start
}

.name {
    display: flex;
    margin: auto
}

.logo {
    display: flex;
    align-self: flex-end;

    width: 50px;
}


.upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(90deg, rgba(23,30,43,1) 0%, rgba(23,33,52,1) 100%);
    padding: 5px 10px 10px 5px;
}

.left {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row-reverse;
    margin: 0px 10px 0px 10px;
}

.left>h2 {
    font-size: 35px
}

.right {
    display: flex;
    align-self: flex-end;
    margin: 0px 10px;
}
.right>h2 {
    font-size: 30px;
}

.lower {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 5px;
}

.nameAndFlag {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px
}